*.ipynb_checkpoints
*.png
*.mat
*.log
*.pkl
*tar.gz
*/__pycache__
/results
**/results
**/log
**/exact_loss
**/modelss
*.DS_Store
/datasets
/experiments/datasets
*.sif
/logs
*.log
*.pdf
*.upa
*.upb
*.bbl
*.blg
*.zip
*.aux
*.bst
*.out
/paper
